<div class="" style="top:10px;">
    <form action="{:search_url()}" method="GET" pjax-search="">
        <div class="input-group input-group-sm">
            <input type="hidden" name="page" value="1" />
            <label for="" class=" ">查询参数</label>
            <!--订单类型-->
            <select class="select2" name="type_id" style="width: auto;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
                <option value="">订单类型</option>
                {volist name="orderType" id="v"}
                <option value='{$v["id"]}' {if condition="input('get.type_id',0)==$v.id"}selected="selected"{/if} >{$v.name}</option>
                    {notempty name="v.list"}
                        {volist name="v.list" id="vo"}
                            <option value='{$vo["id"]}' {if condition="input('get.type_id',0)==$vo.id"}selected="selected"{/if}>&ensp;&ensp;├{$vo.name}</option>

                            {notempty name="vo.list"}
                                    {volist name="vo.list" id="voo"}
                                    <option value='{$voo["id"]}' {if condition="input('get.type_id',0)==$voo.id"}selected="selected"{/if}>&ensp;&ensp; |&ensp;&ensp;├ {$voo.name}</option>
                                    {/volist}
                            {/notempty}

                        {/volist}
                    {/notempty}
                {/volist}
            </select>
            <!--省-->
            <select class="select2" id="cmbProvince"  name="consult_p" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
                <option value="">省</option>
                {volist name="province" id="v"}
                    <option  value="{$v.code}" {if condition="input('get.consult_p',0)==$v.code"}selected="selected"{/if} pid="{$v.id}">{$v.name}</option>
                {/volist}
            </select>
            <input type="hidden" name="p"/>
            <!--市-->
            <select class="select2" id="cmbCity" name="consult_c" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
                <option value="">市</option>
                {volist name="city" id="v"}
                    <option  value="{$v.code}" {if condition="input('get.consult_c',0)==$v.code"}selected="selected"{/if} cid="{$v.id}">{$v.name}</option>
                {/volist}
            </select>
            <!--订单状态-->
            <select class="select2" name="status" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
                <option value="">订单状态</option>
                <option value="1" {if condition="input('get.status',0)==1"}selected="selected"{/if} >应征中</option>
                <option value="2" {if condition="input('get.status',0)==2"}selected="selected"{/if} >进行中</option>
                <option value="3" {if condition="input('get.status',0)==3"}selected="selected"{/if} >已完成</option>
                <option value="4" {if condition="input('get.status',0)==4"}selected="selected"{/if} >已撤销</option>
            </select>

            <!--<select class="select2" name="is_law_order" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">-->
                <!--<option value="">用户类型</option>-->
                <!--<option value="0" {if condition="input('get.status',0)==1"}selected="selected"{/if} >用户</option>-->
                <!--<option value="1" {if condition="input('get.status',0)==2"}selected="selected"{/if} >律师</option>-->
            <!--</select>-->

            <div style="width: 247px;float: right;">
                <input type="text" style="display: inline-block;width: 200px;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;" name="user_id" class="" value="{:input('get.user_id')}" placeholder="手机号" />
                <div class="input-group-btn" style="display: inline-block;">
                    <button type="submit" class="btn btn-default sreachs">
                        <i class="fa fa-search"></i>查询
                    </button>
                    <a href="{:url('ordersExport',['mobile'=>input('user_id'),'consult_p'=>input('consult_p'),'consult_c'=>input('consult_c'),'type_id'=>input('type_id'),'status'=>input('status')])}" target="_blank" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-file"></i>导出</a>

                </div>

            </div>
        </div>
    </form>
    <span style="display: inline-block;width: 200px;height:32px;color: red;">导出数据只含有已完成</span>
</div>
<script type="application/javascript">
    $(document).ready(function () {
        /*ajax页面加载icheck，有该控件的页面才需要*/
        $("#cmbProvince").change(function(){
            var data = {
                'p':$(this).children("option:selected").attr('pid'),
            }
            $('input[name*=p]').val($(this).children("option:selected").attr('pid'));
            $.ajax({
                type:"post",
                url:"{:url('region')}",
                data:data,
                dataType:'json',
                success:function(data){
                    var resData = data.data;
                    if(resData.length > 0){
                        $("#cmbCity option").remove();
                        $("#cmbCity").append("<option selected='selected' cid='" + resData[0].id + "'  value='" + resData[0].code + "'>" + resData[0].name + "</option>");
                        for (var i=1;i<resData.length;i++)
                        {
                            $("#cmbCity").append("<option  cid='" + resData[i].id + "' value='" + resData[i].code + "'>" + resData[i].name + "</option>");
                        }
                    }
                },
                error:function(data){
                }
            });

        });
    })
</script>
