<div class="" style="top:10px;">
    <form action="{:search_url(['status','s_time','e_time','search'])}" method="GET" pjax-search="">
        <div class="input-group input-group-sm">
            <label for="" class=" ">类型</label>
            <select class="select2" name="status" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
                <option value="0">全部</option>
                <?php $userStatuslist=\app\admin\model\Users::$status_list;?>
                {volist name="userStatuslist" id="v"}
                    <option value="{$key}"{if condition="input('get.status',0)==$key"}selected="selected"{/if}>{$v}</option>
                {/volist}
            </select>
            {if condition="isset($hasTimepicker) && $hasTimepicker==1"}
                {include file="form_search/timepicker" /}
            {/if}
            <div style="width: 247px;float: right;">
                <input type="text" style="display: inline-block;width: 200px;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;" name="search" class="" value="{:input('get.search')}" placeholder="{$placeHolderSearch|default='搜索'}" />
                <div class="input-group-btn" style="display: inline-block;">
                    <button type="submit" class="btn btn-default sreachs">
                        <i class="fa fa-search"></i>查询
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
