<label style="margin-bottom:0;" for="">开始时间</label>
    <input class="timepicker" name="s_time" value="{:input('get.s_time')}" placeholder="开始时间"  style="margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;" AUTOCOMPLETE="off">
<label style="margin-bottom: 0;" for="">结束时间</label>
    <input class="timepicker" name="e_time" value="{:input('get.e_time')}" placeholder="结束时间" style="margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;" AUTOCOMPLETE="off">

<script type="text/javascript">
    $(function(){
        $('.timepicker').datetimepicker({
            format: "{$timepickerFormat | default='YYYY-MM-DD HH:mm:ss'}",   //YYYY-MM-DD HH:mm:ss
            locale: moment.locale('zh-cn')
        });
    })
</script>
