<table class="table table-bordered table-hover">
    <tr>
        <th>律师姓名</th>
        <th>专长</th>
        <th>地区</th>
        <th>所在律师事务所</th>
        <th>执照到期时间</th>
        <th>状态</th>
        <th width="124">操作</th>
    </tr>
    {volist name="list" id="v"}
        <tr>
            <td>{$v["user_id"]}</td>
            <td>{$v["speciality"]}</td>
            <td>{$v["consult_p"]}、{$v["consult_c"]}、{$v["consult_a"]}</td>
            <td>{$v["office"]}</td>
            <td>{$v["end_time"]}</td>
            <td>{$v["status"]}</td>
            <td>
                {:authAction("/".MODULE_NAME."/".CONTROLLER_NAME.'/verify','verify',["id"=>$v["id"]])}
            </td>
        </tr>
    {/volist}
</table>
<div class="box-footer clearfix">
    {$list->render()}
</div>