{extend name="public/base" /}

{block name="title"}<title>列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>律师列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>律师列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">
                        {include file="form_search/orders"/}
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>律师姓名</th>
                            <th>专长</th>
                            <th>地区</th>
                            <th>所在律师事务所</th>
                            <th>执照到期时间</th>
                            <th>状态</th>
                            <th width="124">操作</th>
                        </tr>
                        {volist name="list" id="v"}
                            <tr>
                                <td>{$v["user_id"]}</td>
                                <td>{$v["speciality"]}</td>
                                <td>{$v["consult_p"]}、{$v["consult_c"]}、{$v["consult_a"]}</td>
                                <td>{$v["office"]}</td>
                                <td>{$v["end_time"]}</td>
                                <td>{$v["status"]}</td>
                                <td>
                                    {:authAction("/".MODULE_NAME."/".CONTROLLER_NAME.'/verify','verify',["id"=>$v["id"]])}
                                </td>
                            </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$list->render()}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}