{extend name="public/base" /}

{block name="title"}<title>列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>律师列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>律师列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">

                        <form action="{:search_url()}" method="get" pjax-search="">
                            <div class="input-group input-group-sm">
                                <input type="hidden" name="page" value="1" />
                                <label for="" class=" ">手机号 &nbsp;</label>
                                <input type="text" name="mobile" autocomplete="on" pattern="[1][3,4,5,7,8][0-9]{9}" oninvalid="setCustomValidity('手机号必须是11位数字');" value="{:input('mobile','')}" style="height: 32px" />  &nbsp;

                                <!--省-->
                                <select class="select2" id="cmbProvince"  name="consult_p" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;height: 32px">
                                    <option value="">省</option>
                                    {volist name="province" id="v"}
                                    <option  value="{$v.code}" {if condition="input('get.consult_p',0)==$v.code"}selected="selected"{/if} pid="{$v.id}">{$v.name}</option>
                                    {/volist}
                                </select>
                                <!--市-->
                                <select class="select2" id="cmbCity" name="consult_c" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;height: 32px">
                                    <option value="">市</option>
                                    {volist name="city" id="v"}
                                    <option  value="{$v.code}" {if condition="input('get.consult_c',0)==$v.code"}selected="selected"{/if} cid="{$v.id}">{$v.name}</option>
                                    {/volist}
                                </select>

                                <select class="level" name="level" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;height: 32px">
                                    <option value="">签约状态</option>
                                    <option value="0" {if condition="input('get.level','')==='0'"}selected="selected"{/if} >未签约</option>
                                    <option value="1" {if condition="input('get.level','')==1"}selected="selected"{/if} >已签约</option>
                                </select>

                                <select class="status" name="status" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;height: 32px">
                                    <option value="">审核状态</option>
                                    <option value="0" {if condition="input('get.status','')==='0'"}selected="selected"{/if} >等待审核</option>
                                    <option value="1" {if condition="input('get.status','')==1"}selected="selected"{/if} >审核通过</option>
                                    <option value="2" {if condition="input('get.status','')==2"}selected="selected"{/if} >证件到期</option>
                                    <option value="3" {if condition="input('get.status','')==3"}selected="selected"{/if} >审核不通过</option>
                                </select>

                                <div style="width: 247px;float: right;">
                                    <div class="input-group-btn" style="display: inline-block;">
                                        <button type="submit" class="btn btn-default sreachs">
                                            <i class="fa fa-search"></i>查询
                                        </button>
                                        <a href="{:url('lawExport',['mobile'=>input('mobile'),'consult_p'=>input('consult_p'),'consult_c'=>input('consult_c'),'level'=>input('level'),'status'=>input('status')])}" target="_blank" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-file"></i>导出</a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <!--内容-->
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>律师姓名</th>
                                <th width="20%">头像</th>
                                <th>专长</th>
                                <th>地区</th>
                                <th>所在律师事务所</th>
                                <th>执照到期时间</th>
                                <th>签约状态</th>
                                <th>审核状态</th>
                                <th width="124">操作</th>
                            </tr>
                            {volist name="list" id="v"}
                            <tr>
                                <td>{$v["name"]}/{$v["user_id"]['mobile']}</td>
                                <td>
                                    <a href='{$v["image"]}' target="_blank">
                                        <img src='{$v["image"]}' width="20%">
                                    </a>
                                </td>
                                <td>{:implode('|', (array)$v.speciality)}</td>
                                <td>{$v["consult_p"]}、{$v["consult_c"]}、{$v["consult_a"]}</td>
                                <td>{$v["office"]}</td>
                                <td>{:date('Y-m-d',$v["sign_end_time"])}</td>
                                <td>{$v["level"]}</td>
                                <td>{$v["status"]}</td>
                                <td>
                                    {if condition="$v['st'] eq 0"}
                                    <!--审核按钮-->
                                        {:authAction(CONTROLLER_NAME.'/verify','verify',["id"=>$v["id"]])}
                                    {else}
                                    <!--查看按钮-->
                                        {:authAction(CONTROLLER_NAME.'/see','see',["id"=>$v["id"]])}
                                        {if condition="$v.recommend == 0"}
                                            {:authAction(CONTROLLER_NAME.'/LawRecommend','law_recommend_add',["id"=>$v["id"]])}
                                        {else}
                                            {:authAction(CONTROLLER_NAME.'/LawRecommend','law_recommend_remove',["id"=>$v["id"]])}
                                        {/if}
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                        </table>
                        <!--翻页-->
                        <div class="box-footer clearfix">
                            {$list->render()}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script type="application/javascript">
    $(document).ready(function () {
        /*ajax页面加载icheck，有该控件的页面才需要*/
        $("#cmbProvince").change(function(){
            var data = {
                'p':$(this).children("option:selected").attr('pid'),
            }
            $('input[name*=p]').val($(this).children("option:selected").attr('pid'));
            $.ajax({
                type:"post",
                url:"{:url('orders/region')}",
                data:data,
                dataType:'json',
                success:function(data){
                    var resData = data.data;
                    if(resData.length > 0){
                        $("#cmbCity option").remove();
                        $("#cmbCity").append("<option value=''>市</option>");
                        for (var i=0;i<resData.length;i++)
                        {
                            $("#cmbCity").append("<option  cid='" + resData[i].id + "' value='" + resData[i].code + "'>" + resData[i].name + "</option>");
                        }
                    }
                },
                error:function(data){
                }
            });

        });
    })
</script>

{/block}