{extend name="public/base" /}
{block name="pjax_container"}
<section class="content-header">
    <h1>律师信息</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>律师信息</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false">
                <input type="hidden" name="id" value="{$info.id|default=0}" />
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">律师信息</a>
                        </li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">律师姓名</label>
                                <div class="col-sm-7">
                                    <input class="form-control" disabled="disabled" value="{$info.name|default=''}" placeholder="姓名">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">头像</label>
                                <div class="col-sm-7">
                                    <img onclick="alertImage(this)" src="{$info['image']|default=''}" width="80" height="80">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">律师背景图</label>
                                <div class="col-sm-7">
                                    <img onclick="alertImage(this)" src="{$info['c_image']|default=''}" width="80" height="80">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">专长</label>
                                <div class="col-sm-7">
                                    <input class="form-control"  disabled="disabled"
                                           value="{:implode('|', $info.speciality??[])}"
                                           placeholder="专长">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">地区</label>
                                <div class="col-sm-7">
                                    <input class="form-control" disabled="disabled"
                                           value="{$info.consult_p|default=''}、{$info.consult_c|default=''}、{$info.consult_a|default=''}" placeholder="地区">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">所在律师事务所</label>
                                <div class="col-sm-7">
                                    <input class="form-control"  disabled="disabled" value="{$info.office|default=''}" placeholder="所在律师事务所">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">执照到期时间</label>
                                <div class="col-sm-7">
                                    <input class="form-control"  disabled="disabled" value="{:date('Y-m-d',$info.sign_end_time)}" placeholder="执照到期时间">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">律师证</label>
                                <div class="col-sm-7">
                                    <img onclick="alertImage(this)" src="{$info['lawyer_license_image']|default=''}" width="80" height="80">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">年检图</label>
                                <div class="col-sm-7">
                                    <img onclick="alertImage(this)" src="{$info['year_check_image']|default=''}" width="80" height="80">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">状态</label>
                                <div class="col-sm-7">
                                    <input class="form-control"  disabled="disabled" value="{$info.status|default=''}" placeholder="审核状态">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-6">
                            <div class="btn-group pull-right">
                                <input type="hidden" name="status" value="1" />
                                <button type="submit" id="btg" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 不通过">不通过</button>
                                <button type="submit" style="margin-right: 15px"  class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 通过">通过</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function(){
        /*ajax页面加载icheck，有该控件的页面才需要*/
        $(".select2").select2({language:"zh-CN"});

    });

    $('#btg').click(function(){
        $('input[name="status"]').val(3);
    });

    //页面层-自定义
    function alertImage(e){
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            maxWidth:700,
            maxHeight:700,
            shadeClose: true,
            skin: 'yourclass',
            content: '<img style="max-width: 1000px; max-height: 1000px" src="' + e.src + '" />'
        });
    }
</script>
{/block}
