{extend name="public/base" /}
{block name="pjax_container"}
<style>
    input[type=checkbox]{
        margin-left: 10px;margin-right: 5px; margin-top: 9px
    }
</style>
<section class="content-header">
    <h1>合同详情</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>合同详情</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
            <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            {include file="form/input" title="订单id" readonly="readonly" name="order_id"/}
                            {include file="form/input" title="用户名称" readonly="readonly" name="user_id"/}
                            {include file="form/input" title="用户类型" readonly="readonly" name="role"/}
                            {include file="form/input" title="合同金额" readonly="readonly" name="money"/}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">合同上传时间</label>
                                <div class="col-sm-7">
                                    <input class="form-control" readonly value="{:date('Y-m-d H:i',$info['c_time'])}">
                                </div>
                            </div>
                            {include file="form/textarea_clean" readonly="readonly" title="合同说明" name="desc"/}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">合同图片</label>
                                <div class="col-sm-7">
                                    {volist name="$info.images" id="v"}
                                    <img onclick="alertImage(this)" src="{$v|default='__STATIC__/default.png'}" style="width:50px;height:50px;"/>
                                    {/volist}
                                </div>
                            </div>
                            {if condition="isset($info['pay_money']) && !empty($info['pay_money'])"}
                                {include file="form/input" title="发放奖励金额" readonly="readonly" name="pay_money"/}
                            {else}
                            <form method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/contractReward" onsubmit="return false">
                                <hr>
                                <input type="hidden" name="id" value="{$info['id']|default=0}" />
                                <input type="hidden" name="user_id" value="{$info['u_id']|default=0}" />
                                {include file="form/input" title="发放奖励金额" name="pay_money"/}
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                                    </div>
                                </div>
                            </form>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="application/javascript">
    $(function() {

    });
    function alertImage(e){
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            maxWidth:700,
            maxHeight:700,
            shadeClose: true,
            skin: '',
            content: '<img style="max-width: 1000px; max-height: 1000px" src="' + e.src + '" />'
        });
    }
</script>
{/block}