<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        {if condition="isset($info)"}
            {volist name="info" id="v"}
                <div class="form-group">
                    <label class="col-sm-2 control-label">上传角色</label>
                    <div class="col-sm-7">
                        <input class="form-control" disabled="disabled" value="{$v.role == 1 ? '用户上传' : '律师上传' }">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">上传时间</label>
                    <div class="col-sm-7">
                        <input class="form-control" disabled="disabled" value="{:date('Y-m-d H:i',$v.role)}" placeholder="上传时间">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">合同金额</label>
                    <div class="col-sm-7">
                        <input class="form-control" disabled="disabled" value="{:date('Y-m-d H:i',$v.money)}" placeholder="合同金额">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">图片</label>
                    <div class="col-sm-7">
                        {volist name="$v.images" id="vv"}
                        <img onclick="alertImage(this)" src="{$vv|default='__STATIC__/default.png'}" style="width:50px;height:50px;"/>
                        {/volist}
                    </div>
                </div>
                <hr>
            {/volist}
        {/if}
    </div>
</div>
