{extend name="public/base" /}

{block name="title"}<title>列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>合同列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>合同列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!--<div class="box box-primary">-->
            <div class="nav-tabs-custom">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">
                        查询：订单id，用户类型，状态
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>订单id</th>
                            <th>用户名称</th>
                            <th>合同金额</th>
                            <th>合同上传时间</th>
                            <th>已奖励金额</th>
                            <th>发放奖励时间</th>
                            <th>状态</th>
                            <th width="124">操作</th>
                        </tr>
                        {volist name="list" id="v"}
                        <tr>
                            <td>{$v["order_id"]}</td>
                            <td>{$v["user_id"]['name']}/{$v["role"]==1?'用户':'律师'}</td>
                            <td>¥{$v["money"]}元</td>
                            <td>{:date('Y-m-d H:i',$v["c_time"])}</td>
                            <td>¥{$v["pay_money"]}元</td>
                            <td>{:date('Y-m-d H:i',$v["pay_time"])}</td>
                            <td>{$v["status"]==1?'待奖励':'已奖励'}</td>
                            <td>
                                <a class='btn btn-primary btn-xs' href='{:url("Orders/see",["id"=>$v["order_id"]])}'><i class='fa fa-edit'></i>查看订单详情</a>
                                {if condition="$v['status'] == 2"}
                                {:authAction(CONTROLLER_NAME.'/see','see',["id"=>$v["id"]])}
                                {else}
                                <form class="form-horizontal" method="POST" action="{:url('contractReward')}" onsubmit="return false" >
                                    <input type="hidden" name="id" value='{$v["order_id"]}' />
                                    <input type="text" name="pay_money" value="" placeholder="奖励金额" />
                                    <button type="submit" class="btn btn-primary btn-xs submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 发放奖励"><i class='glyphicon glyphicon-usd'></i>发放奖励</button>
                                </form>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$list->render()}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}