{extend name="public/base" /}
{block name="pjax_container"}
<style>
    input[type=checkbox]{
        margin-left: 10px;margin-right: 5px; margin-top: 9px
    }
</style>
<section class="content-header">
    <h1>订单详情</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 订单详情</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class={if condition="$Think.ACTION_NAME == 'see' "}'active'{/if}>
                            <a href="{:url('see',['id'=>input('id')])}">订单详情</a>
                        </li>

                        <li class={if condition="$Think.ACTION_NAME == 'winorderinfo' "}'active'{/if}>
                        <a href="{:url('winOrderInfo',['id'=>input('id')])}">中标详情</a>
                        </li>

                        <li class={if condition="$Think.ACTION_NAME == 'cancelinfo' "}'active'{/if}>
                        <a href="{:url('cancelInfo',['id'=>input('id')])}">撤单详情</a>
                        </li>

                        <li class={if condition="$Think.ACTION_NAME == 'contractinfo' "}'active'{/if}>
                        <a href="{:url('contractInfo',['id'=>input('id')])}">合同详情</a>
                        </li>

                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>

                    {switch name="$Think.ACTION_NAME" }
                    {case value="see"}{include file="orders/see"}{/case}
                    {case value="winorderinfo"}{include file="orders/win_order_info"}{/case}
                    {case value="cancelinfo"}{include file="orders/cancel_info"}{/case}
                    {case value="contractinfo"}{include file="orders/contract_info"}{/case}
                    {default /}默认情况
                    {/switch}

                </div>
            </form>
        </div>
    </div>
</section>
<script type="application/javascript">
    $(function() {

    });
    function alertImage(e){
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            maxWidth:500,
            maxHeight:500,
            shadeClose: true,
            skin: '',
            content: '<img style="max-height: 100%; max-width:100%" src="' + e.src + '" />'
        });
    }
</script>
{/block}