<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        {include file="form/input" title="发单用户" readonly="readonly" name="user_name"/}

        {if condition="$info['order_type'] != 11"}
        <div class="form-group">
            <label class="col-sm-2 control-label">订单类型</label>
            <div class="col-sm-7">
                <input class="form-control" readonly value="{$info['type_name']}" placeholder="订单类型">
            </div>
        </div>
        {/if}
        <div class="form-group">
            <label class="col-sm-2 control-label">咨询地区</label>
            <div class="col-sm-7">
                <input class="form-control" readonly value="{$info['consult_p']}-{$info['consult_c']}-{$info['consult_a']}" placeholder="[title]">
            </div>
        </div>

        {switch $info['order_type'] }
        {case value="1|2|3|11" }
        {include file="form/textarea_clean" readonly="readonly" title="描述" name="content"/}
        {if condition="isset($info.images)"}
        <div class="form-group">
            <label class="col-sm-2 control-label">图片</label>
            <div class="col-sm-7">
                {volist name="$info.images" id="v"}
                <img onclick="alertImage(this)" src="{$v|default='__STATIC__/default.png'}" style="width:50px;height:50px;"/>
                {/volist}
            </div>
        </div>
        {/if}
        {if condition="isset($info.video)"}
        <div class="form-group">
            <label class="col-sm-2 control-label">视频</label>
            <div class="col-sm-7">
                <!--<video src="{$info.video|default=''}" width="700" height="500" controls="controls" ></video>-->
                <video src="{$domain}/{$info.video}" width="500" height="300" controls="controls" ></video>
            </div>
        </div>
        {/if}
        {if condition="isset($info.audio)"}
        <div class="form-group">
            <label class="col-sm-2 control-label">音频</label>
            <div class="col-sm-7">
                <audio controls>
                    <source src="{$domain}/{$info.video}" type="audio/mpeg">
                </audio>
            </div>
        </div>
        {/if}

        {/case}
        {case 4}
        <div class="form-group">
            <label class="col-sm-2 control-label">现有资料</label>
            <div class="col-sm-7" style="display: flex;flex-wrap: wrap;line-height: 32px;">
                {volist name="nData" id="v"}
                <input type="checkbox" disabled {if condition="in_array($v.id, $info.file_now_data1)"} checked {/if} name="file_now_data[]"> {$v.name}
                {/volist}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">其他资料</label>
            <div class="col-sm-7">
                <input class="form-control" readonly value="{$info.file_now_other_data|default="无"}">
            </div>
        </div>
        {/case}
        {/switch}
    </div>
</div>
