<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        {if condition="isset($info)"}
            {include file="form/input" title="中标律师" readonly="readonly" name="name"/}

            {include file="form/textarea_clean" readonly="readonly" title="描述" name="content"/}

            {if condition="isset($info.images)"}
            <div class="form-group">
                <label class="col-sm-2 control-label">图片</label>
                <div class="col-sm-7">
                    {volist name="$info.images" id="v"}
                    <img onclick="alertImage(this)" src="{$v|default='__STATIC__/default.png'}" style="width:50px;height:50px;"/>
                    {/volist}
                </div>
            </div>
            {/if}
            {if condition="isset($info.video)"}
            <div class="form-group">
                <label class="col-sm-2 control-label">视频</label>
                <div class="col-sm-7">
                    <!--<video src="{$info.video|default=''}" width="700" height="500" controls="controls" ></video>-->
                    <video src="{$domain}/{$info.video}" width="500" height="300" controls="controls" ></video>
                </div>
            </div>
            {/if}
            {if condition="isset($info.audio)"}
            <div class="form-group">
                <label class="col-sm-2 control-label">音频</label>
                <div class="col-sm-7">
                    <audio controls>
                        <source src="{$domain}/{$info.video}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            {/if}
        {/if}

    </div>
</div>
