{__NOLAYOUT__}
<script type="text/javascript" src="__STATIC__/global/jQuery/jquery-2.2.3.min.js?x86494"></script>
<script type="text/javascript" src="__STATIC__/global/layer/layer.js?x86494"></script>
<script type="text/javascript">
    var $msg = '<?php echo($msg);?>';
    var $url = '<?php echo($url);?>';
    $(function(){
        layer.msg($msg,{time:1000});
        setTimeout(function(){
            if($url){
                self.parent.location.href = $url;
            }else{
                window.history.go(-1);
            }
        },800)
    });
</script>
