{extend name="public/base" /}
{block name="title"}<title>{if condition="ACTION_NAME=='create'"}新增{else/}编辑{/if}</title>{/block}
{block name="pjax_container"}
<?php
    $titleTypeName = ACTION_NAME=='create'? '新增' : '编辑';
?>
<section class="content-header">
    <h1>{$titleTypeName}现有资料</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>{$titleTypeName}现有资料</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false" >
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">基本参数</a></li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <input type="hidden" name="id" value="{$info['id']|default=0}" />
                            <div class="form-group">
                                <label class="col-sm-2 control-label">现有资料名称</label>
                                <div class="col-sm-7"><input class="form-control" name="name" value="{$info['name']|default=''}" placeholder="名称"></div>
                            </div>

                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="application/javascript">
    $(function() {
        $(".select2").select2({language: "zh-CN"});
    });
</script>
{/block}