
/*上传图片插件的样式*/

.upload-box{
    /*padding: 0 20px;*/
	margin: 0 auto;
	/*margin-top: 40px;*/
}

.upload-box .clear{
	clear: both;
}

.upload-box .clear:after{
	content: '';
	display: block;
	clear: both;
}

.upload-box .upload-tip{
	margin-bottom: 20px;
	font-size: 16px;
	color: #555;
}
.upload-box .image-box{
	padding: 18px;
	border:2px dashed #E7E6E6;
}

.image-box section{
	position: relative;
	width: 190px;
	height: 190px;
	float: left;
}

.image-box .upload-section{
	position: relative;
}

.image-box .image-section{
	margin-right: 20px;
	margin-bottom: 20px;
}

.image-section:hover{
	border: 1px solid #f15134;
}

/*/图片遮罩层样式*/
.image-section .image-shade{
	display: block;
	width: 100%;
	height: 100%;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9;
	background: rgba(0,0,0,.5);
}

/*鼠标放上去时显示遮罩层*/
.image-section:hover .image-shade{
	visibility: visible;
}

.image-section .image-zoom {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 80px;
    right: 80px;
    display: none;
    z-index: 10;
    background:url(/static/upload/zoom.png) no-repeat center;
}

.image-section .image-delete {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 5px;
	right: 5px;
	display: none;
	z-index: 10;
	background:url(/static/upload/delete.png) no-repeat center;
}

.image-section:hover .image-delete{
	display: block;
	cursor:pointer;
}

.image-section:hover .image-zoom{
    display: block;
    cursor:pointer;
}

.image-box .image-show{
	display: block;
	width: 100%;
	height: 100%;
}

.image-loading{
    border: 1px solid #D1D1D1;
	background:url(/static/upload/loading.gif) no-repeat center;
}

.image-opcity{
	opacity: 0;
}


/*上传域样式*/
.upload-section #upload-input{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

/*上传按钮样式*/
.upload-section .upload-btn {
	border:1px dashed #d0d0d0;
	width: 190px;
	height: 190px;
	background:url(/static/upload/upload.png) no-repeat center;
}

/*遮罩层样式*/
.delete-modal{
	z-index: 1000;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
}
.delete-modal .modal-content{
	 width: 500px;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-left: -250px;
	 margin-top: -80px;
	 background: white;
	 height: 160px;
	 text-align: center;
}

.modal-content p{
	margin: 0;
	padding: 0;
}
.modal-content .modal-tip{
	color: #555;
	height: 94px;
	line-height: 94px;
	font-size: 18px;
	border-bottom: 1px solid #D1D1D1;
}
.modal-content .modal-btn{

	height: 66px;
	line-height: 66px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.modal-content .modal-btn span{
	width: 49.8%;
	display:inline-block;
	text-align: center;
	color:#d4361d ;
	font-size: 18px;
	border-right: 1px solid #D1D1D1;
}

.modal-btn:hover span{
    cursor:pointer;
}


/*图片预览样式*/
#zoom-shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	min-height: 800px;
    height: 100%;
    z-index: 1100;
    background-color: rgb(119, 119, 119);
    opacity: 0.7;
    cursor: pointer;
    display: none;
}
#zoom-box {
    position: absolute;
    padding: 20px;
    z-index: 1101;
    outline: none;
    display: none;
    height: auto;
    top: 25%;
    left: 25%;
}

#zoom-content {

    outline: none;
    overflow: hidden;
    z-index: 1102;
    border: 10px solid #fff;
    opacity: 1;
}
#zoom-content img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
}






