<div class="box-header with-border">
    <h3 class="box-title"></h3>
    <div class="pull-left">
        {include file="form_search/orders"/}
    </div>
</div>

<div class="box-body table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>订单类型</th>
            <th>发单用户手机号</th>
            <th>省</th>
            <th>市</th>
            <th>区</th>
            <th>订单状态</th>
            <th width="124">操作</th>
        </tr>
        {volist name="list" id="v"}
        <tr>
            <td>{$v["type_name"]}</td>
            <td>{$v["user_id"]}</td>
            <td>{$v["consult_p"]}</td>
            <td>{$v["consult_c"]}</td>
            <td>{$v["consult_a"]}</td>
            <td>{$v["status"]}</td>
            <td>
                {:authAction(CONTROLLER_NAME.'/see','see',["id"=>$v["id"]])}
            </td>
        </tr>
        {/volist}
    </table>
</div>
<div class="box-footer clearfix">
    {$list->render()}
</div>