    {/*底部开始*/}
{if condition=" $box_is_pjax != 1 "}
    <!--<footer class="main-footer">-->
        <!--<div class="pull-right">Version 1.4</div>-->
        <!--Copyright &copy; 2016-2017 <a href="#" >QQ群：184278846</a>-->
    <!--</footer>-->
{/if}
    {/*底部结束*/}