<form action="{:search_url()}" method="GET" pjax-search="">
    <div class="input-group input-group-sm">
        <label for="" class=" ">手机号 &nbsp;</label>
        <input type="text" name="mobile" autocomplete="on" pattern="[1][3,4,5,7,8][0-9]{9}" oninvalid="setCustomValidity('手机号必须是11位数字');" value="{:input('mobile','')}" style="height: 32px" />  &nbsp;

        <select class="role" name="role" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
            <option value="">发起角色</option>
            <option value="1" {if condition="input('get.role','')===1"}selected="selected"{/if} >用户</option>
            <option value="2" {if condition="input('get.role','')==2"}selected="selected"{/if} >律师</option>
        </select>

        <select class="status" name="status" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
            <option value="">状态</option>
            <option value="0" {if condition="input('get.status','')==='0'"}selected="selected"{/if} >不同意</option>
            <option value="1" {if condition="input('get.status','')==1"}selected="selected"{/if} >同意</option>
            <option value='2' {if condition="input('get.status','')==2"}selected="selected"{/if} >待审核</option>
        </select>
        <div style="width: 247px;float: right;">
            <div class="input-group-btn" style="display: inline-block;">
                <button type="submit" class="btn btn-default sreachs">
                    <i class="fa fa-search"></i>查询
                </button>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered table-hover">
    <tr>
        <th>订单ID</th>
        <th>发起人</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    {volist name="SettlementDetails" id="v"}
    <tr>
        <td>{$v["id"]}</td>
        <td>
            {if condition="$v.role==1"}
            {$v['user_id']['name']}({$v['user_id']['mobile']})/用户
            {else}
            {$v['law_id']['name']}({$v['law_id']['user_id']['mobile']})/律师
            {/if}
        </td>
        <td>
            {if condition="$v.c_status == 1"}
            同意
            {elseif condition="$v.c_status === 0"}
            不同意
            {else}
            待处理
            {/if}
        </td>
        <td>
            <a class='btn btn-primary btn-xs' href='{:url("Orders/see",["id"=>$v["id"]])}'><i class='fa fa-edit'></i>查看详情</a>
            {if condition="$v.c_status === 0"}
            <form class="form-horizontal" style="display: inline-block" method="POST" action="{:url('Finance/cencelOrder')}" onsubmit="return false" >
                <input type="hidden" name="id" value='{$v["cencel_id"]}' />
                <input type="hidden" name="order_id" value='{$v["id"]}' />
                <button type="submit" class="btn btn-primary btn-xs submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 同意">同意</button>
                <button type="submit" class="btn btn-danger btn-xs submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 恢复">恢复</button>
            </form>
            {/if}
        </td>
    </tr>
    {/volist}
</table>
<script>
    $('.btn-danger').click(function(){
        $('.form-horizontal').attr('action', "{:url('Finance/cencelBackOrder')}");
    });
</script>