<form action="{:search_url()}" method="GET" pjax-search="">
    <div class="input-group input-group-sm">
        <label for="" class=" ">手机号 &nbsp;</label>
        <input type="text" name="mobile" autocomplete="on" pattern="[1][3,4,5,7,8][0-9]{9}" oninvalid="setCustomValidity('手机号必须是11位数字');" value="{:input('mobile','')}" style="height: 32px" />  &nbsp;
        <!--订单状态-->
        <select class="status" name="status" style="width: 120px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
            <option value="">奖励发放状态</option>
            <option value="1" {if condition="input('get.status','')==1"}selected="selected"{/if} >待发放</option>
            <option value="2" {if condition="input('get.status','')==2"}selected="selected"{/if} >已发放</option>
        </select>
        <div style="width: 247px;float: right;">
            <div class="input-group-btn" style="display: inline-block;">
                <button type="submit" class="btn btn-default sreachs">
                    <i class="fa fa-search"></i>查询
                </button>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered table-hover">
    <tr>
        <th>订单ID</th>
        <th>上传人</th>
        <th>合同金额</th>
        <th>上传时间</th>
        <th>发放时间</th>
        <th>发放状态</th>
        <th>奖励金额</th>
        <th>操作</th>
    </tr>
    {volist name="SettlementDetails" id="v"}
    <tr>
        <td>{$v["order_id"]}</td>
        <td>
            {if condition="$v.role==1"}
            {$v['user_id']['name']}({$v['user_id']['mobile']})/用户
            {else}
            {$v['user_id']['user_id']['name']}({$v['user_id']['user_id']['mobile']})/律师
            {/if}
        </td>
        <td>¥{$v["money"]}元</td>
        <td>{:date('Y-m-d H:i:d', $v["c_time"])}</td>
        <td>{$v["pay_time"] ? (date('Y-m-d H:i:d', $v["pay_time"])) : ''}</td>
        <td>{$v["status"]==1?'未发放':'已发放';}</td>
        <td>{$v["pay_money"]}元</td>
        <td>
            {if condition="$v.status==1"}
            <form class="form-horizontal" method="POST" action="{:url('Finance/contractReward')}" onsubmit="return false" >
                <input type="hidden" name="id" value='{$v["id"]}' />
                <input type="text" style="width: 72px" name="pay_money" value="" placeholder="奖励金额" />
                <button type="submit" class="btn btn-primary btn-xs submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 发放奖励"><i class='glyphicon glyphicon-usd'></i>发放奖励</button>
            </form>
            {else}
            <a class='btn btn-primary btn-xs' href='{:url("Orders/see",["id"=>$v["order_id"]])}'><i class='fa fa-edit'></i>查看详情</a>
            {/if}
        </td>
    </tr>
    {/volist}
</table>