<form action="{:search_url()}" method="GET" pjax-search="">
    <div class="input-group input-group-sm">
        <label for="" class=" ">手机号 &nbsp;</label>
        <!--订单状态-->
        <input type="text" name="mobile" autocomplete="on" pattern="[1][3,4,5,7,8][0-9]{9}" oninvalid="setCustomValidity('手机号必须是11位数字');" value="{:input('mobile','')}" style="height: 32px" />  &nbsp;
        <div style="width: 247px;float: right;">
            <div class="input-group-btn" style="display: inline-block;">
                <button type="submit" class="btn btn-default sreachs">
                    <i class="fa fa-search"></i>查询
                </button>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered table-hover">
    <tr>
        <th>用户</th>
        <th>金额</th>
        <th>三方交易单号</th>
        <th>订单号</th>
        <th>交易时间</th>
    </tr>
    {volist name="SettlementDetails" id="v"}
    <tr>
        <td>{$v["user_id"]['name']}({$v["user_id"]['mobile']})</td>
        <td>{$v["money"]}</td>
        <td>{$v["trade_no"]}</td>
        <td>{$v["vipTag"]?:$v['source']['out_trade_no']}</td>
        <td>{:date('Y-m-d H:i:s', $v["c_time"])}</td>
    </tr>
    {/volist}
</table>