<table class="table table-bordered table-hover">
    <tr>
        <th>推荐用户名称</th>
        <th>注册律师名称</th>
        <th>奖励金额</th>
        <th>注册时间</th>
    </tr>
    {volist name="SettlementDetails.source" id="v"}
    <tr>
        <td>{$v["user_id"]['name']}({$v["user_id"]['mobile']})</td>
        <td>{$v["new_id"]['name']}({$v["new_id"]['mobile']})</td>
        <td>{$v["get_money"]}</td>
        <td>{:date('Y-m-d H:i:s', $v["law_time"])}</td>
    </tr>
    {/volist}
</table>