<form action="{:search_url()}" method="GET" pjax-search="">
    <div class="input-group input-group-sm">
        <label for="" class=" ">推荐用户手机号 &nbsp;</label>
        <input type="text" name="mobile" autocomplete="on" pattern="[1][3,4,5,7,8][0-9]{9}" oninvalid="setCustomValidity('手机号必须是11位数字');" value="{:input('mobile','')}" style="height: 32px" />  &nbsp;
        <label for="" class=" ">注册{:input('pageInfo')=='reguser' ? '用户' : '律师' ;}手机号 &nbsp;</label>
        <input type="text" name="n_mobile" autocomplete="on" pattern="[1][3,4,5,7,8][0-9]{9}" oninvalid="setCustomValidity('手机号必须是11位数字');" value="{:input('n_mobile','')}" style="height: 32px" />  &nbsp;
        <!--订单状态-->
        {if condition="input('pageInfo','') == 'reguser'"}
        <select class="filing" name="is_grant" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
            <option value="">发放状态</option>
            <option value="0" {if condition="input('get.is_grant','')===0"}selected="selected"{/if} >未发放</option>
            <option value="1" {if condition="input('get.is_grant','')==1"}selected="selected"{/if} >已发放</option>
        </select>
        {/if}
        <div style="width: 247px;float: right;">
            <div class="input-group-btn" style="display: inline-block;">
                <button type="submit" class="btn btn-default sreachs">
                    <i class="fa fa-search"></i>查询
                </button>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered table-hover">
    <tr>
        <th>推荐用户</th>
        <th>注册{:input('pageInfo')=='reguser' ? '用户' : '律师' ;}</th>
        <th>注册时间</th>
        <th>奖励金额</th>
        <th>发放状态</th>
        <th>发放时间</th>
    </tr>
    {volist name="SettlementDetails" id="v"}
    <tr>
        {if condition="input('pageInfo') == 'reguser' && $v.status==0"}
        <td>{$v.user_id.name}({$v.user_id.mobile})</td>
        <td>{$v.new_id.name}({$v.new_id.mobile})</td>
        <td>{:date('Y-m-d H:i:d',$v.user_time)}</td>
        <td>{$v.get_money}</td>
        <td>{$v.is_grant == 1 ?'已发放':'未发放';}</td>
        <td>{$v.g_time?date('Y-m-d H:i:d',$v.g_time):''}</td>
        {elseif condition="input('pageInfo') == 'reglaw' && $v.status==1"}
        <td>{$v.user_id.name}({$v.user_id.mobile})</td>
        <td>{$v.new_id.name}({$v.new_id.user_id.mobile})</td>
        <td>{:date('Y-m-d H:i:d',$v.user_time)}</td>
        <td>{$v.get_money}</td>
        <td>已发放</td>
        <td>{:date('Y-m-d H:i:d',$v.g_time)}</td>
        {/if}
    </tr>
    {/volist}
</table>