<form action="{:search_url()}" method="GET" pjax-search="">
    <div class="input-group input-group-sm">
        <label for="" class=" ">手机号 &nbsp;</label>
        <input type="text" name="mobile" autocomplete="on" pattern="[1][3,4,5,7,8][0-9]{9}" oninvalid="setCustomValidity('手机号必须是11位数字');" value="{:input('mobile','')}" style="height: 32px" />  &nbsp;

        <select class="status" name="status" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
            <option value="">状态</option>
            <option value="10" {if condition="input('get.status','')==10"}selected="selected"{/if} >申请提现</option>
            <option value="11" {if condition="input('get.status','')==11"}selected="selected"{/if} >提现完成</option>
        </select>
        <div style="width: 247px;float: right;">
            <div class="input-group-btn" style="display: inline-block;">
                <button type="submit" class="btn btn-default sreachs">
                    <i class="fa fa-search"></i>查询
                </button>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered table-hover">
    <tr>
        <th>用户</th>
        <th>金额</th>
        <th>收款人</th>
        <th>账号</th>
        <th>收款方式</th>
        <th>申请时间</th>
        <th>状态</th>
        <th>发放时间</th>
        <th>操作</th>
    </tr>
    {volist name="SettlementDetails" id="v"}
    <tr>
        <td>{$v["user_id"]['name']}({$v["user_id"]['mobile']})</td>
        <td>{$v["money"]}</td>

        <td>{$v['get_card_id']["user_name"]}</td>
        <td>{$v['get_card_id']["number"]}</td>
        <td>{$v['get_card_id']["status"] == 1? '银行('.$v['get_card_id']["account_name"].'-'.$v['get_card_id']["open_account_name"].')':'支付宝'}</td>

        <td>{:date('Y-m-d H:i:s', $v["c_time"])}</td>
        <td>{$v["status"]}</td>
        <td>{:date('Y-m-d H:i:s', $v["get_time"])}</td>
        <td>
            {if condition="$v.st==10"}
            <form class="form-horizontal" style="display: inline-block" method="POST" action="{:url('Finance/withdraw')}" onsubmit="return false" >
                <input type="hidden" name="id" value="{$v.id}" />
                <button type="submit" class="btn btn-primary btn-xs submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 同意">发放</button>
            </form>
            {/if}
        </td>
    </tr>
    {/volist}
</table>