{extend name="public/base" /}

{block name="title"}
<title>{if condition="isset($info)"}编辑{else /}新增{/if}</title>
{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>角色信息</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 角色信息</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false" >
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">基本参数</a></li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>
                    <input type="hidden" name="id" value="{$info['id']|default=0}" />
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">角色名称</label>
                                <div class="col-sm-7"><input class="form-control" name="name" value="{$info['name']|default=''}" placeholder="角色名称"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">权限</label>
                        <div class="col-sm-7 rule_node">
                            {volist name="treeMenu" id="v"}
                            {if condition="$v['status'] eq 0"}<?php continue; ?>{/if}
                            <p class='left1' >
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="relation[]" value="{$v['id']}" class="minimal" {if condition="in_array($v['id'],$list)"}checked="checked"{/if} > {$v['title']}
                                </label>
                            </p>
                            {volist name="v['list']" id="vOne" key="kOne"}
                            {if condition="$vOne['status'] eq 0"}<?php continue; ?>{/if}
                            <p class='left2 p_left' >
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="relation[]" value="{$vOne['id']}" class="minimal" {if condition="in_array($vOne['id'],$list)"}checked="checked"{/if} > {$vOne['title']}
                                </label>
                            </p>
                            {volist name="vOne['list']" id="vTwo"}
                            <p class='left3 p_left' >
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="relation[]" value="{$vTwo['id']}" class="minimal" {if condition="in_array($vTwo['id'],$list)"}checked="checked"{/if} > {$vTwo['title']}
                                </label>
                            </p>
                            {/volist}
                            {/volist}
                            {/volist}
                        </div>
                    </div>




                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="application/javascript">
$(function() {
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-blue',
        radioClass: 'iradio_minimal-blue'
    });
});
</script>
{/block}