{extend name="public/base" /}

{block name="title"}<title>列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>角色列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 角色列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">
                        {:authAction(CONTROLLER_NAME.'/create','create')}
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th width="124">操作</th>
                        </tr>
                        {volist name="list" id="v"}
                            <tr>
                                <td>{$v["id"]}</td>
                                <td>{$v["name"]}</td>
                                <td>
                                {:authAction("/".MODULE_NAME."/".CONTROLLER_NAME.'/edit','edit',["id"=>$v["id"]])}
                                {:authAction("/".MODULE_NAME."/".CONTROLLER_NAME.'/delete','delete_one',["id"=>$v["id"]])}
                                </td>
                            </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$list->render()}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}