{extend name="public/base" /}
{block name="title"}<title>{if condition="ACTION_NAME=='create'"}新增{else/}编辑{/if}</title>{/block}
{block name="pjax_container"}
<section class="content-header">
    <h1>法律专栏信息</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>法律专栏信息</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false" >
                <input type="hidden" name="id" value="{$info['id']|default=0}" />
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">基本参数</a></li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">上传视频(mp4格式)</label>
                                <div class="col-sm-7">
                                    <input type="hidden" id="mp4" name="mp4" value="{$info['mp4']|default=''}">
                                    <input type="hidden" id="mp4_time" name="mp4_time" value="{$info['mp4_time']|default=''}">
                                    <video src="" id="myvide_time" style="display: none"></video>
                                    <div id="container" style="">

                                        <a href="{$domain|default=''}{$domain?'/':''}{$info['mp4']|default=''}" target="_blank" class='btn btn-success {if condition="isset($info['mp4'])"} {else} hidden {/if}' style="display:inline-block;">查看资源</a>
                                        <a href="javascript:;" target="_blank" class='btn btn-danger {if condition="isset($info['mp4'])"} {else} hidden {/if}'>删除资源</a>

                                        <a href="javascript:void(0);" class='btn_up btn_selectfile {if condition="isset($info['mp4'])"} hidden {else} {/if}'style="display:inline-block;width:82px;height:34px;color:#fff;background:#00a65a;text-align: center;line-height: 34px;border-radius: 3px;">选择文件</a>
                                        <input type="file" id="selectFile" class="control-upload {if condition="isset($info['mp4'])"} hidden {else} {/if}" style="background:#0d6aad;width:84px;height:32px;position: absolute;left:15px;top: 0px;opacity: 0;"/>

                                    </div>
                                    <!--进度条-->
                                    <div class="layui-progress layui-progress-big hidden" lay-showPercent="true" style="margin-top:20px">
                                        <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<style>
.btn_input_left{
    left:185px;
}
</style>

<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
<script type="text/javascript" src='/static/global/qiniu/plupload.full.min.js'></script>
<script type="text/javascript" src='/static/global/qiniu/qiniu.mini.js'></script>
<script type="text/javascript" src='/static/global/qiniu/uploadWithSDK_h.js'></script>
<script type="application/javascript">
    $(function() {
        $(".select2").select2({language: "zh-CN"});
        //进度条
        layui.use(['element','layer'], function(){
        // layui.use('element', function(){
            var element = layui.element;
        });

        //删除视频
        $('.btn-danger').click(function(){
            layer.confirm('确定删除视频吗?', function(index){
                //do something
                    var data = {
                        "fileName":$('#mp4').val(),
                        "id" : $('input[name*=id]').val(),
                    };
                $.ajax({
                        url: "{:url('ajaxQnDel')}",
                        dataType: 'json',
                        data:data,
                        success: function (res) {
                            if(res.err > 0){
                                layer.alert('删除视频失败');
                                return ;
                            }
                            //删除input的值，及页面显示的文件名
                            $('#selectFile').val('');
                            $('.filecontent').remove();
                            $('#mp4').val('');
                            $('.btn-success').attr('href','');

                            //隐藏进度条，并初始化为0
                            $('.layui-progress-big').addClass('hidden');
                            $('.layui-progress-bar').css({"width":'0%'});
                            $('.layui-progress-text').html('0%');
                            // 隐藏删除，查看资源，上传按钮归位
                            $('.btn-success').addClass('hidden');
                            $('.btn-danger').addClass('hidden');
                            $('#selectFile').css('left','15px').removeClass('hidden');
                            $('.btn_selectfile').removeClass('hidden');
                            layer.alert('删除视频成功');
                        }
                    });
                layer.close(index);
            });
        });

        //获取token，并上传视频
        $.ajax({
            url: "{:url('ajaxQn')}",
            dataType: 'json',
            success: function (res) {
                var token = res.uptoken;
                var domain = res.domain;
                var config = {
                    useCdnDomain: true,
                    disableStatisticsReport: false,
                    retryCount: 6,
                    region: qiniu.region.z2
                };
                var putExtra = {
                    fname: "",
                    params: {},
                    mimeType: null,
                };

                //执行文件绑定方法，并且监听点击上传
                $("#selectFile").unbind("change").bind("change",function(){
                    //判断是否已经上传到七牛云，如果已经上传，必选先删除
                    if($('.btn-success').attr('href') || $('#mp4').val()){
                        layer.alert('请先点击删除资源，再进行上传！');
                        return ;
                    }
                    //获取文件
                    var filePath=$(this).val();
                    //开始准备上传
                    var file= this.files;
                    file = file[0];
                    // 点击开始上传
                    if(fileCheck(file,res.videoSize)){
                        //展示进度条
                        $('.layui-progress-big').removeClass('hidden');
                        //转换成文件名
                        var pos=filePath.lastIndexOf("\\");
                        var namefile = filePath.substring(pos+1);
                        //展示上传文件名
                        var filecontent='<span class="filecontent" style="display:inline-block;margin-left:20px;">'+namefile+'</span>';
                        $('.btn_selectfile').after(filecontent);
                        //上传
                        uploadWithSDK(file, token, putExtra, config, domain);
                    }
                });
            }
        });
    });
</script>

{/block}