{extend name="public/base" /}
{block name="pjax_container"}
<section class="content-header">
    <h1>法律专栏列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>法律专栏列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">
                        {:authAction(CONTROLLER_NAME.'/create','create')}
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>视频标题</th>
                            <th>视频</th>
                            <th>首页推荐</th>
                            <th>详情页推荐</th>
                            <th width="10%">设置播放量</th>
                            <th width="10%">实际播放量</th>
                            <th width="124">操作</th>
                        </tr>
                        {volist name="list" id="v"}
                        <tr>
                            <td>{$v["title"]}</td>
                            <td>
                                {if condition="empty($v['mp4'])"}
                                    <a>
                                {else}
                                    <a href='{$domain."/".$v["mp4"]}' target="_blank">
                                {/if}
                                    <img src='{$v["image"]}' width="20%">
                                </a>
                            </td>
                            <td>{if condition="$v['index_show'] == 'on'"}推荐{else}不推荐{/if}</td>
                            <td>{if condition="$v['details_show'] == 'on'"}推荐{else}不推荐{/if}</td>
                            <td>{$v["play_num"]}</td>
                            <td>{$v["t_play_num"]}</td>
                            <td>
                                {:authAction(CONTROLLER_NAME.'/edit','edit',['id'=>$v['id']])}
                                {:authAction(CONTROLLER_NAME.'/delete','delete_one',['id'=>$v['id']])}
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$list->render()}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}