{extend name="public/base" /}

{block name="title"}<title>列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>保函申请列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>保函申请列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!--<div class="box box-primary">-->
            <div class="nav-tabs-custom">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">
                        <div class="" style="top:10px;">
                            <form action="{:search_url()}" method="GET" pjax-search="">
                                <div class="input-group input-group-sm">
                                    <label for="" class=" ">查询参数</label>
                                    <!--订单状态-->
                                    <select class="filing" name="filing" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
                                        <option value="">是否立案</option>
                                        <option value="1" {if condition="input('get.filing','')==1"}selected="selected"{/if} >否</option>
                                        <option value="2" {if condition="input('get.filing','')==2"}selected="selected"{/if} >是</option>
                                    </select>
                                    <!--处理状态-->
                                    <select class="status" name="status" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
                                        <option value="">处理状态</option>
                                        <option value="1" {if condition="input('get.status','')==1"}selected="selected"{/if} >待处理</option>
                                        <option value="2" {if condition="input('get.status','')==2"}selected="selected"{/if} >已处理</option>
                                    </select>


                                    <div style="width: 247px;float: right;">
                                        <div class="input-group-btn" style="display: inline-block;">
                                            <button type="submit" class="btn btn-default sreachs">
                                                <i class="fa fa-search"></i>查询
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>是否立案</th>
                            <th>法院名称</th>
                            <th>担保金额</th>
                            <th>申请人联系电话</th>
                            <th>申请人邮箱</th>
                            <th>申请人姓名</th>
                            <th width="124">操作</th>
                        </tr>
                        {volist name="list" id="v"}
                        <tr>
                            <td>{$v["filing"]}</td>
                            <td>{$v["court_name"]}</td>
                            <td>{$v["guarantee_money"]|default=0}元</td>
                            <td>{$v["tel"]}</td>
                            <td>{$v["e_mail"]}</td>
                            <td>{$v["name"]}</td>
                            <td>
                                {if condition="$v.st == 2"}
                                {$v.status}
                                {else}
                                {$v.status}
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$list->render()}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}