{extend name="public/base" /}
{block name="pjax_container"}
<section class="content-header">
    <h1>保函申请详情</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>保函申请详情</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false" >
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        {include file="form/input" title="发单用户" readonly="readonly" name="user_name"/}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单类型</label>
                            <div class="col-sm-7">
                                <input class="form-control" readonly value="{$info['type_name']}" placeholder="订单类型">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">咨询地区</label>
                            <div class="col-sm-7">
                                <input class="form-control" readonly value="{$info['consult_p']}-{$info['consult_c']}-{$info['consult_a']}" placeholder="[title]">
                            </div>
                        </div>

                        {switch $info['order_type'] }
                        {case value="1|2|3" }
                        {include file="form/textarea_clean" readonly="readonly" title="描述" name="content"/}
                        {if condition="isset($info.images)"}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">图片</label>
                            <div class="col-sm-7">
                                {volist name="$info.images" id="v"}
                                <img onclick="alertImage(this)" src="{$v|default='__STATIC__/default.png'}" style="width:50px;height:50px;"/>
                                {/volist}
                            </div>
                        </div>
                        {/if}
                        {if condition="isset($info.video)"}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">视频</label>
                            <div class="col-sm-7">
                                <!--<video src="{$info.video|default=''}" width="700" height="500" controls="controls" ></video>-->
                                <video src="{$domain}/{$info.video}" width="500" height="300" controls="controls" ></video>
                            </div>
                        </div>
                        {/if}
                        {if condition="isset($info.audio)"}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">音频</label>
                            <div class="col-sm-7">
                                <audio controls>
                                    <source src="{$domain}/{$info.video}" type="audio/mpeg">
                                </audio>
                            </div>
                        </div>
                        {/if}

                        {/case}
                        {case 4}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">现有资料</label>
                            <div class="col-sm-7" style="display: flex;flex-wrap: wrap;line-height: 32px;">
                                {volist name="nData" id="v"}
                                <input type="checkbox" name="file_now_data[]"> 123123
                                {/volist}
                            </div>
                        </div>
                        {/case}
                        {case 5}
                        一键响应
                        {/case}
                        {/switch}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">接待律师</label>
                            <div class="col-sm-7">
                                {$info.content|default='暂无律师接单'}
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
<script type="application/javascript">
$(function() {
});

function alertImage(e){
    layer.open({
        type: 1,
        title: false,
        closeBtn: 0,
        maxWidth:500,
        maxHeight:500,
        shadeClose: true,
        skin: '',
        content: '<img style="max-height: 100%; max-width:100%" src="' + e.src + '" />'
    });
}

</script>
{/block}