{extend name="public/base" /}

{block name="title"}<title>列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>查档类型列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>查档类型列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">
                        {:authAction(CONTROLLER_NAME.'/create','create')}
                    </div>
                </div>
                <div class="box-body table-responsive">

                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>查档类型名称</th>
                            <th width="124">操作</th>
                        </tr>
                        {volist name="list" id="v"}
                        <tr>
                            <td>{$v["name"]}</td>
                            <td>
                                {:authAction(CONTROLLER_NAME.'/edit','edit',['id'=>$v['id']])}
                                {:authAction(CONTROLLER_NAME.'/delete','delete_one',['id'=>$v['id']])}
                            </td>
                        </tr>
                            {notempty name="v.list"}
                                {volist name="v.list" id="vo"}
                                <tr>
                                    <td>
                                        &nbsp;&nbsp; | {$vo["name"]}
                                    </td>
                                    <td>
                                        {:authAction(CONTROLLER_NAME.'/edit','edit',['id'=>$vo['id']])}
                                        {:authAction(CONTROLLER_NAME.'/delete','delete_one',['id'=>$vo['id']])}
                                    </td>
                                </tr>
                                {/volist}
                            {/notempty}
                        {/volist}

                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>
</section>
{/block}