{extend name="public/base" /}
{block name="main"}
<div class="order_pay">
    <link rel="stylesheet" href="__STATIC__/web/css/order_pay.css">
    <div class="content container">
        <!-- 案件详情 -->
        {if condition="$payPageLabel!=3 && isset($orderInfo)"}
        <div class="item">
            <div class="title">案例详情</div>
            {if condition="$orderInfo.order_type==4"}
                <div class="info">
                    <p class="info-title">异地查档</p>
                    <p class="address_time">
                        <span><img src="__STATIC__/web/static/img/area.png" alt="">{$orderInfo.consult_p}</span>
                        <span><img src="__STATIC__/web/static/img/time.png" alt="">{:date('Y.m.d', $orderInfo.c_time)}</span>
                    </p>
                    <table class="layui-table">
                        <tbody>
                            <tr>
                                <td>查档地区</td>
                                <td>{$orderInfo.consult_p}-{$orderInfo.consult_c}</td>
                            </tr>
                            <tr>
                                <td>所在区</td>
                                <td>{$orderInfo.consult_a|default=''}</td>
                            </tr>
                            <tr>
                                <td>查档类型</td>
                                <td>{$now_data_category|default=''}</td>
                            </tr>
                            <tr>
                                <td>查档类目</td>
                                <td>{$orderInfo.type_id|default=''}</td>
                            </tr>
                            <tr>
                                <td>现有资料</td>
                                <td>{if condition="!empty($orderInfo.file_now_data)"}
                                    {volist name="$orderInfo.file_now_data" id="v"}
                                    {$v.name}/
                                    {/volist}
                                    {else}
                                    无
                                    {/if}
                                </td>
                            </tr>
                            <tr>
                                <td>订单时效</td>
                                <td>{$orderInfo.order_time}</td>
                            </tr>
                            <tr>
                                <td>联系人</td>
                                <td>{$orderInfo.tel_name}</td>
                            </tr>
                            <tr>
                                <td>手机号</td>
                                <td>{$orderInfo.tel}</td>
                            </tr>
                            <tr>
                                <td>收货地址</td>
                                <td>{$orderInfo.rece_addr}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {else}
                <div class="info">
                    <p class="info-title">{$orderInfo.type_id}</p>
                    <p class="address_time">
                        <span><img src="__STATIC__/web/static/img/area.png" alt="">{$orderInfo.consult_p}</span>
                        <span><img src="__STATIC__/web/static/img/time.png" alt="">{:date('Y.m.d', $orderInfo.c_time)}</span>
                    </p>
                    <p class="describe">{$orderInfo.content}</p>
                    <!-- <a href="" class="look-more">查看更多 &gt;</a> -->
                </div>
            {/if}
        </div>
        {/if}
        <!-- $payPageLabel==2 尾款支付-->
        {if condition="$payPageLabel==2"}
        <!-- 所选律师 -->
        <div class="item">
            <div class="title">所选律师</div>
            <div class="info">
                <div class="lawer-selceted" style="width: 100%">
                    <div class="cell case" style="width: calc(100% - 140px)">
                        <div class="headphoto">
                            <img src="{$lawInfo.image|default='__STATIC__/user.png'}" alt="">
                        </div>
                        <div class="case-info">
                            <div class="name">{$lawInfo.name}
                                {if condition=" $lawInfo.level > 0 "}
                                <span class="on">已签约</span>
                                {else}
                                <span class="off">未签约</span>
                                {/if}
                            </div>
                            <div class="appraise">
                                <span>接单数量{$lawInfo.orderNum}</span>
                                <span class="level">
                                    {for start="1" end="6"}
                                    {if condition="$i <= $lawInfo.score"} <img src="__STATIC__/web/static/img/staron.png" alt="">
                                        {else}
                                        <img src="__STATIC__/web/static/img/staroff.png" alt="">
                                        {/if}
                                        {/for}
                                        {$lawInfo.score}
                                </span>
                            </div>
                            <p><img src="__STATIC__/web/static/img/area.png" alt="">{$lawInfo.consult}</p>
                        </div>
                    </div>
                    <div class="cell">
                        <p>报价<span class="orange">￥{$lawInfo.money}</span></p>
                    </div>
                </div>
            </div>
        </div>
            <!-- 折扣金额 -->
            {if condition="$orderInfo.earnest_money!=0"}
            <div class="item">
                <div class="title">可抵扣服务费</div>
                <div class="info">
                    <div class="discount">￥{$orderInfo.earnest_money}</div>
                </div>
            </div>
            {/if}
        {/if}
        <!-- $payPageLabel==1  支付定金 -->
        <!-- $payPageLabel==3  购买VIP-->
        {if condition="$payPageLabel!=2"}
        <!-- 服务方式 -->
        <div class="item">
            <div class="title">服务方式说明</div>
            <div class="info">
                <div class="describe vipinfo">
                    <pre>{$payDesc}</pre>
                </div>
            </div>
        </div>
        {/if}
        <!-- 支付方式 -->
        <div class="item">
            <div class="title">请选择支付方式</div>
            <div class="info">
                <div class="info-check payway">
                    <div class="checkradio checked" value="alipay">
                        <i></i><img src="__STATIC__/web/static/img/Alipay.png" alt="">
                    </div>
                    <div class="checkradio" value="NATIVE">
                        <i></i><img src="__STATIC__/web/static/img/WeChat.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="gopay">
            <div class="price">
                应付金额：
                <span class="redcolor vipprice">¥{$payMoney}</span>
            </div>
            <span class="submit">立即支付</span>
        </div>
    </div>
<div id="wechat-payment" class="popup">
    <div class="content">
        <p>扫一扫付款(元)</p>
        <p class="money" id="wx_money">
            {$payMoney}
        </p>
        <div class="qr-code"><img id="wx_qcode" src="" alt=""></div>
        <p>订单提交成功，请您尽快完成付款！</p>
    </div>
    <div class="close"><img src="__STATIC__/web/static/img/popupclose.png" alt=""></div>
</div>
    <script>
        layui.use(['jquery', 'form', 'upload'], function () {
            var $ = layui.$;
            $('.payway .checkradio').click(function () {
                $(this).addClass('checked').siblings().removeClass('checked');
            });
            $('.submit').click(function () {
                var payway = $('.payway').find('.checked').attr("value");
                var data = {
                    'trade_type':payway,
                    'order_id':"{$orderInfo.id|default=''}",
                    'order_type':"{$payPageLabel|default=''}",
                    'signType':"{$signType|default=''}",
                    'law_id':"{$lawInfo.id|default=''}"
                };
                $.ajax({
                    type:"post",
                    url:"{:url('toPay')}",
                    data:data,
                    dataType: 'json',
                    //微信
                    success: function(res){
                        var data=res.data;
                        if(res.err != 0){
                            layui.layer.msg(res.msg);
                            return false;
                        }
                        $('#wx_qcode').attr('src',data.code_url);
                        var popups = layer.open({
                            type: 1,
                            title: false,
                            area: ['700px', '574px'],
                            shadeClose: true, //点击遮罩关闭
                            content: $("#wechat-payment"),
                            closeBtn: 0,
                        });
                        $('.popup .close').click(function () {
                            layer.close(popups);
                            clearInterval(a);
                        });
                        if(data.vipTag || data.order_id){
                            var a = setInterval(function () {
                                $.ajax({
                                    type:"post",
                                    url:"{:url('ajaxFindOrderPayRes')}",
                                    data:{'vipTag': data.vipTag, 'order_id': data.order_id , 'type':data.type},
                                    success:function(res){
                                        if(res.err == 0){
                                            clearInterval(a);
                                            window.location.href= "{:url('Members/orderList')}";
                                        }
                                    }
                                });
                            }, 2000);
                        }
                    },
                    //支付宝
                    error:function(res){
                        //因为调用接口的时候，直接执行了请求页面，返回了页面的html。所以异步会请求到error中
                        var data=res.data;
                        if(res.status == 200 && res.statusText == 'OK'){
                            window.location.href="about:blank";
                            $('body').html(res.responseText);
                        }
                    }
                });
            });
            // $('input:radio[name="service"]:checked')
            //微信支付弹窗
            // $(".wechat-payment").click(function () { 
            //     var popups = layer.open({
            //         type: 1,
            //         title: false,
            //         area: ['700px', '574px'],
            //         shadeClose: true, //点击遮罩关闭
            //         content: $("#wechat-payment"),
            //         closeBtn: 0,
            //     });
            //     $('.popup .close').click(function () {
            //         layer.close(popups);
            //     });
            // });
        })
    </script>
</div>
{/block}