{extend name="public/base" /}
{block name="title"}<title>{if condition="ACTION_NAME=='create'"}新增{else/}编辑{/if}</title>{/block}
{block name="pjax_container"}
<section class="content-header">
    <h1>权限信息</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 权限信息</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false" >
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">基本参数</a></li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <input type="hidden" name="id" value="{$info['id']|default=0}" />
                            <input type="hidden" name="type_level" value="2" />
                            <div class="form-group">
                                <label class="col-sm-2 control-label">上级节点</label>
                                <div class="col-sm-7">
                                    <select class="form-control select2" id="pid" name="pid" style="width:100%;" {if condition="ACTION_NAME != 'create'"} disabled="disabled" {/if}>

                                        {if condition="ACTION_NAME != 'create'"}
                                            <option value="0">顶级节点</option>
                                        {/if}

                                        {volist name="list" id="v"}
                                            <option value="{$v.id}" data-clevel="2" {if condition="isset($info) && $info.pid == $v.id"} selected="selected" {/if}>{$v.name}</option>
                                            {volist name="$v.list" id="vo"}
                                                <option value="{$vo.id}" data-clevel="3" {if condition="isset($info) && $info.pid == $vo.id"} selected="selected" {/if}>&nbsp;|--&nbsp;{$vo.name}</option>
                                            {/volist}
                                        {/volist}

                                    </select>
                                </div>
                            </div>
                            {include file="form/input" title="名称" name="name"/}

                            <div class='{if condition="(isset($info.pid) && $info.pid > 0)"} {else} hidden {/if}' id="two">
                                {include file="form/input" title="发单预付金额" name="price"/}
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="application/javascript">
$(function() {
    $(".select2").select2({language: "zh-CN"});

    $('#pid').change(function(){
        if($('#pid option:selected').data('clevel') == 2){
            $('#one').removeClass("hidden");

            $('#two').addClass("hidden");
            $('input[name*=price]').val('');
            $('input[name*=type_level]').val(2);

        }else{
            if($('#pid option:selected').data('clevel') == 3){
                $('#two').removeClass("hidden");
            }
            $('#one').addClass("hidden");
            //清空input 图片的值
            $('input[name*=type_level]').val(3);
        }
    });

});
</script>
{/block}