{extend name="public/base" /}

{block name="title"}<title>列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>订单列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>订单列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">
                        {:authAction(CONTROLLER_NAME.'/create','create')}
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover" >
                        <tr>
                            <th>类型名称</th>
                            <th>预付款金额</th>
                            <th>banner图</th>
                            <th width="124">操作</th>
                        </tr>
                        {volist name="list" id="v"}
                            <tr>
                                <td  style="vertical-align: middle">
                                    {$v["name"]}
                                </td>
                                <td>
                                    {if condition="$v.id == 11"}
                                    {$v.price}元
                                    {/if}
                                </td>
                                <td width="20%">
                                    <a href='{$v["image"]}' target="_blank">
                                        <img src='{$v["image"]}' width="20%">
                                    </a>
                                </td>
                                <td>
                                    {:authAction(CONTROLLER_NAME.'/edit','edit',['id'=>$v['id']])}
                                    {:authAction(CONTROLLER_NAME.'/delete','delete_one',['id'=>$v['id']])}
                                </td>
                            </tr>
                            {notempty name="v.list"}
                                {volist name="v.list" id="vo"}
                                    <tr>
                                        <td style="vertical-align:middle;">
                                        &nbsp;&nbsp; &ensp;&ensp;&ensp;&ensp;|&ensp;{$vo["name"]}
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            {:authAction(CONTROLLER_NAME.'/edit','edit',['id'=>$vo['id'],'l'=>2])}
                                            {:authAction(CONTROLLER_NAME.'/delete','delete_one',['id'=>$vo['id']])}
                                        </td>
                                    </tr>
                                        {notempty name="vo.list"}
                                            {volist name="vo.list" id="voo"}
                                                    <tr>
                                                        <td>
                                                        &nbsp;&nbsp; &ensp;&ensp;&ensp;&ensp;|&ensp;&ensp;&ensp;&ensp;├&ensp;{$voo["name"]}
                                                        </td>
                                                        <td>{$voo.price}元</td>
                                                        <td width="20%"></td>
                                                        <td>
                                                            {:authAction(CONTROLLER_NAME.'/edit','edit',['id'=>$voo['id'],'l'=>3])}
                                                            {:authAction(CONTROLLER_NAME.'/delete','delete_one',['id'=>$voo['id']])}
                                                        </td>
                                                    </tr>
                                            {/volist}
                                        {/notempty}
                                {/volist}
                            {/notempty}
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>
</section>
{/block}