{extend name="public/base" /}

{block name="title"}<title>列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>权限列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 权限列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">
                        {:authAction(CONTROLLER_NAME.'/create','create')}
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>名称</th>
                            <th>排序值</th>
                            <th>导航显示</th>
                            <th width="124">操作</th>
                        </tr>
                        {volist name="list" id="vo"}
                            {:getPermissionHtml($vo)}
                            {notempty name="vo.list"}
                                {volist name="vo.list" id="voOne"}
                                    {:getPermissionHtml($voOne,1)}
                                    {notempty name="voOne.list"}
                                        {volist name="voOne.list" id="voTwo"}
                                            {:getPermissionHtml($voTwo,2)}
                                        {/volist}
                                    {/notempty}
                                {/volist}
                            {/notempty}
                        {/volist}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{/block}