{extend name="public/base" /}
{block name="pjax_container"}
<section class="content-header">
    <h1>财务信息</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>财务信息</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">

                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class={if condition="$pageInfo == 'orderpay' "}'active'{/if}>
                            <a href="{:url('index',['pageInfo'=>'orderpay'])}">订单支付</a>
                        </li>
                        <li class={if condition="$pageInfo == 'userpay' "}'active'{/if}>
                        <a href="{:url('index',['pageInfo'=>'userpay'])}">用户购买VIP</a>
                        </li>
                        <li class={if condition="$pageInfo == 'lawpay' "}'active'{/if}>
                        <a href="{:url('index',['pageInfo'=>'lawpay'])}">律师购买VIP</a>
                        </li>
                        <li class={if condition="$pageInfo == 'reguser' "}'active'{/if}>
                        <a href="{:url('index',['pageInfo'=>'reguser'])}">推荐注册用户奖励</a>
                        </li>
                        <li class={if condition="$pageInfo == 'reglaw' "}'active'{/if}>
                        <a href="{:url('index',['pageInfo'=>'reglaw'])}">推荐注册律师奖励</a>
                        </li>
                        <li class={if condition="$pageInfo == 'contract' "}'active'{/if}>
                        <a href="{:url('index',['pageInfo'=>'contract'])}">上传合同奖励</a>
                        </li>
                        <li class={if condition="$pageInfo == 'cancel' "}'active'{/if}>
                        <a href="{:url('index',['pageInfo'=>'cancel'])}">撤单</a>
                        </li>
                        <li class={if condition="$pageInfo == 'withdrawal' "}'active'{/if}>
                        <a href="{:url('index',['pageInfo'=>'withdrawal'])}">提现</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <!--加载对应页面-->
                            {switch name="$pageInfo" }
                            {case value="orderpay|userpay|lawpay"}{include file="finance/info/orderpay" /}{/case}
                            {case value="reguser|reglaw"}{include file="finance/info/reguser" /}{/case}
                            {case value="contract"}{include file="finance/info/contract" /}{/case}
                            {case value="cancel"}{include file="finance/info/cancel" /}{/case}
                            {case value="withdrawal"}{include file="finance/info/withdrawal" /}{/case}
                            {default /}默认情况{$pageInfo}
                            {/switch}
                            <div class="box-footer clearfix">
                                {$SettlementDetails->render()}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

<script type="application/javascript">
    $(document).ready(function () {
        /*ajax页面加载icheck，有该控件的页面才需要*/
        $(".select2").select2({language:"zh-CN"});
    })
</script>
{/block}
