<div class="tab-content">
    <div class="tab-pane active">
        <?php $all_config_list=\app\common\model\AdminConifg::$all_config_list[$c_name];?>
        <input type="hidden" name="remake" value="{$all_config_list['remake']}" />
        <input type="hidden" name="config_name" value="{$c_name}" />
        {foreach name="all_config_list" item="v" key="k" }
            {notempty name="$v"}
                {if condition="$k != 'remake'"}
                    {if condition="!is_array($v)"}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{$v}</label>
                        <div class="col-sm-7">
                            <input class="form-control" name="{$k}" value="{$adminconfigInfo[$k]|default=''}" placeholder="{$v}" />
                        </div>
                    </div>
                    {else}
                        <!--'reg' =>['用户注册协议', 'textarea']     $v.1 取数组中的textarea-->
                        {switch name="$v.1" }
                        {case value="textarea"}
                            {include file="admin_config/form/textarea_clean"/}
                        {/case}
                        {case value="image"}
                            {include file="admin_config/form/layer_open_image_banner"/}{/case}
                        {default /}默认情况
                        {/switch}
                    {/if}
                {/if}
            {/notempty}
        {/foreach}

    </div>
</div>