{extend name="public/base" /}
{block name="pjax_container"}
<section class="content-header">
    <h1>支付相关配置信息</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>支付相关配置信息</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false" >
                <input type="hidden" name="id" value="{$info.id|default=0}" />
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <!--<li class='active'>-->
                        <li class={if condition="$c_name == 'wxpay' "}'active'{/if}>
                            <a href="{:url('payment',['config_name'=>'wxpay'])}">微信支付</a>
                        </li>
                        <li class={if condition="$c_name == 'alipay' "}'active'{/if}>
                        <a href="{:url('payment',['config_name'=>'alipay'])}">支付宝支付</a>
                        </li>
                        <li class={if condition="$c_name == 'cill' "}'active'{/if}>
                        <a href="{:url('payment',['config_name'=>'cill'])}">提现门槛</a>
                        </li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>

                    {include file="admin_config/configpage" /}

                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script type="application/javascript">
$(document).ready(function () {
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $(".select2").select2({language:"zh-CN"});
})
</script>
{/block}
