<div class="form-group">
    <label class="col-sm-2 control-label">{$v.0}</label>
    <div class="col-sm-7">
        <input class="form-control" type="hidden" name="{$k}" value="{$adminconfigInfo[$k]|default=''}"/>
            <img onclick="alertImage(this)" src="{$adminconfigInfo[$k]|default='__STATIC__/default.png'}" style="width:50px;height:50px;"/>
        <button type="button" class="layui-btn" id="{$k}">
            <i class="layui-icon">&#xe67c;</i>上传图片
        </button>
    </div>
</div>

<script>
layui.use('upload', function(){
    var upload = layui.upload;

    var nameDom = "{$k}";

    var exts = "png|jpg|jpeg" ;

    if(nameDom == 'icon'){
        exts = "ico";
    }

    //执行实例
    upload.render({
        elem: "#"+nameDom //绑定元素
        ,url: "{:url('File/store')}" //上传接口
        ,accept:"images"
        ,exts:exts
        ,done: function(res){
            //上传完毕回调
            $('#'+nameDom).parent().find('input[name*='+nameDom+']').val(res.data.saveName);
            $('#'+nameDom).parent().find('img').attr('src', res.data.saveName);
            // $('#'+nameDom).parent().find('a').text("点击预览");
        }
    });
});

function alertImage(e){
    layer.open({
        type: 1,
        title: false,
        closeBtn: 0,
        maxWidth:1000,
        maxHeight:1000,
        shadeClose: true,
        skin: '',
        content: '<img style="max-width: 1000px; max-height: 1000px" src="' + e.src + '" />'
    });
}

</script>