<div class="form-group">
    <label class="col-sm-2 control-label">{$v.0}</label>
    <div class="col-sm-7">
        <textarea name="{$k}" class="form-control" [readonly] style="width: 100%; height: 150px; z-index: 998; overflow: hidden;">{$adminconfigInfo[$k]|default=''}</textarea>
    </div>
</div>