{extend name="public/base" /}

{block name="title"}<title>列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>管理员列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 管理员列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="pull-left">
                        {:authAction(CONTROLLER_NAME.'/create','create')}
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>ID{:table_sort("id")}</th>
                            <th>头像</th>
                            <th>姓名</th>
                            <!--<th>状态</th>-->
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        {volist name="list" id="v"}
                        <tr>
                            <td>{$v["id"]}</td>
                            <td><img width="40" height="40" src="{:getImageUrl($v['avatar'])}"></td>
                            <td>{$v["name"]}</td>
                            <!--<td><?php echo app\admin\model\Users::$status_list[$v["status"]]; ?></td>-->
                            <td>{$v["c_time"]}</td>
                            <td>
                                {:authAction(CONTROLLER_NAME.'/edit','edit',['id'=>$v['id']])}
                                {:authAction(CONTROLLER_NAME.'/delete','delete_one',['id'=>$v['id']])}
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$list->render()}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}
