{extend name="public/base" /}

{block name="title"}<title>编辑</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>用户信息</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 用户信息</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false">
                <input type="hidden" name="id" value="{$info.id|default=0}" />
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">用户信息</a>
                        </li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">

                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-2 control-label">姓名</label>-->
                                <!--<div class="col-sm-7">-->
                                    <!--<input class="form-control" disabled="disabled" value="{$info.name|default=''}" placeholder="姓名">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机号</label>
                                <div class="col-sm-7">
                                    <input class="form-control"  disabled="disabled" value="{$info.mobile|default=''}" placeholder="手机号">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">头像</label>
                                <div class="col-sm-7">
                                    <img src="{$info['avatar']|default=''}" width="40" height="40">
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-2 control-label">地区</label>-->
                                <!--<div class="col-sm-7">-->
                                    <!--<input class="form-control" disabled="disabled"-->
                                           <!--value="{$info.province_name|default=''}、{$info.city_name|default=''}、{$info.county_name|default=''}" placeholder="地区">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户状态</label>
                                <div class="col-sm-7">
                                    <input class="form-control"  disabled="disabled" value="{$info.level|default=''}" placeholder="用户状态">
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-2 control-label">状态</label>-->
                                <!--<div class="col-sm-7">-->
                                    <!--<select class="form-control select2" name="status" style="width:100%;">-->
                                        <!--<?php $list = app\admin\model\ClientUsers::$status_list;?>-->
                                        <!--{volist name="list" id="vo"}-->
                                            <!--<option value="{$key}"{if condition="isset($info['status']) && $info['status']==$key"}selected="selected"{/if}>{$vo}</option>-->
                                        <!--{/volist}-->
                                    <!--</select>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function(){
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $(".select2").select2({language:"zh-CN"});
});
</script>
{/block}
