{extend name="public/base" /}

{block name="title"}<title>用户列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>用户列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 用户列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="" style="top:10px;">
                        <form action="{:search_url()}" method="GET" pjax-search="">
                            <div class="input-group input-group-sm">
                                <input type="hidden" name="page" value="1" />
                                <label for="" class=" ">手机号 &nbsp;</label>
                                <input type="text" name="mobile" autocomplete="on" pattern="[1][3,4,5,7,8][0-9]{9}" oninvalid="setCustomValidity('手机号必须是11位数字');" value="{:input('mobile','')}" style="height: 32px" />  &nbsp;

                                <select class="level" name="level" style="width: 100px;display: inline-block;margin: 0px 5px;padding-left: 3px;border: 1px solid #ccc;height: 28px;border-radius: 3px;">
                                    <option value="">用户状态</option>
                                    <option value="1" {if condition="input('get.level','')==1"}selected="selected"{/if} >签约用户</option>
                                    <option value="2" {if condition="input('get.level','')==2"}selected="selected"{/if} >普通用户</option>
                                </select>
                                <div style="width: 247px;float: right;">
                                    <div class="input-group-btn" style="display: inline-block;">
                                        <button type="submit" class="btn btn-default sreachs">
                                            <i class="fa fa-search"></i>查询
                                        </button>
                                        <a href="{:url('userExport',['mobile'=>input('mobile'),'level'=>input('level')])}" target="_blank" class="btn btn-info" style="margin-left: 10px"><i class="glyphicon glyphicon-file"></i>导出</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <!--<th>ID</th>-->
                            <th>手机号</th>
                            <th>头像</th>
                            <!--<th>地区</th>-->
                            <th>用户状态</th>
                            <!--<th>状态</th>-->
                            <th>操作</th>
                        </tr>
                        {volist name="data" id="v"}
                        <tr>
                            <!--<td>{$v["id"]}</td>-->
                            <td>{$v["mobile"]}</td>
                            <td>
                                <a href='{$v["avatar"]}' target="_blank">
                                <img width="40" height="40" src="{$v['avatar']}">
                                </a>
                            </td>
                            <td>{$v["level"]}</td>
                            <td>
                                {:authAction(CONTROLLER_NAME.'/see_info','see_info',['id'=>$v['id']])}
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$data->render()}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}
