{extend name="public/base" /}
{block name="pjax_container"}
<section class="content-header">
    <h1>移除律师申请</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>移除律师申请</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" name="id" value="{$info.id|default=0}" />
            <div class="nav-tabs-custom">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>申请用户</th>
                                <th>移除律师</th>
                                <th>申请时间时间</th>
                                <th>操作</th>
                            </tr>
                            {volist name="signLaw" id="v"}
                            <tr>
                                <td>{$v.user_id.name}({$v.user_id.mobile})</td>
                                <td>{$v.l_name}({$v.u_mobile})</td>
                                <td>{:date('Y-m-d H:i:d', $v.move_for_time)}</td>
                                <td>
                                    <form class="form-horizontal" style="display: inline-block" method="POST" action="{:url('removeLaw')}" onsubmit="return false" >
                                        <input type="hidden" name="id" value='{$v["id"]}' />
                                        <input type="hidden" id="is_move" name="is_move" />
                                        <button type="submit" class="btn btn-primary btn-xs submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 同意">不同意</button>
                                        <button type="submit" id="ty" class="btn btn-primary btn-xs submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 同意">同意</button>
                                    </form>
                                </td>
                            </tr>
                            {/volist}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function(){
    $('#ty').click(function(){
        $('#is_move').val(1);
    })
});
</script>
{/block}
