{extend name="public/base" /}
{block name="pjax_container"}
<section class="content-header">
    <h1>用户信息</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 用户信息</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false">
                <input type="hidden" name="id" value="{$info.id|default=0}" />
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class={if condition="$pageInfo == 'own'"}'active'{/if}>
                            <a href="{:url('see_info',['id'=>$info.id,'act'=>'own'])}">基本信息</a>
                        </li>
                        <li class={if condition="$pageInfo == 'team'"}'active'{/if}>
                            <a href="{:url('see_info',['id'=>$info.id,'act'=>'team'])}">团队成员</a>
                        </li>
                        <li class={if condition="$pageInfo == 'signLaw'"}'active'{/if}>
                            <a href="{:url('see_info',['id'=>$info.id,'act'=>'signLaw'])}">签约律师</a>
                        </li>
                        <!--<li class={if condition="$pageInfo == 'orderList'"}'active'{/if}>-->
                            <!--<a href="{:url('see_info',['id'=>$info.id,'act'=>'orderList'])}">发布订单列表</a>-->
                        <!--</li>-->
                        <li class={if condition="$pageInfo == 'card'"}'active'{/if}>
                            <a href="{:url('see_info',['id'=>$info.id,'act'=>'card'])}">卡号信息</a>
                        </li>
                        <li class={if condition="$pageInfo == 'consume'"}'active'{/if}>
                            <a href="{:url('see_info',['id'=>$info.id,'act'=>'consume'])}">消费明细</a>
                        </li>
                        <!--<li class='{if condition="2 == 0"}active{/if}'>-->
                            <!--<a href="{:url('index',['status'=>'0'])}">提现明细</a>-->
                        <!--</li>-->
                        <!--<li class='{if condition="2 == 0"}active{/if}'>-->
                            <!--<a href="{:url('index',['status'=>'0'])}">充值明细</a>-->
                        <!--</li>-->
                        <li class='{if condition="$pageInfo == 'recommend'"}active{/if}'>
                            <a href="{:url('see_info',['id'=>$info.id,'act'=>'recommend'])}">推荐详情</a>
                        </li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <!--加载对应页面-->
                            {switch name="$pageInfo" }
                                {case value="own"}{include file="client_user/info/own" /}{/case}
                                {case value="team"}{include file="client_user/info/team" /}{/case}
                                {case value="signLaw"}{include file="client_user/info/signlaw" /}{/case}
                                {case value="orderList"}{include file="client_user/info/orderlist" /}{/case}
                                {case value="card"}{include file="client_user/info/card" /}{/case}
                                {case value="consume"}{include file="client_user/info/consume" /}{/case}
                                {case value="recommend"}{include file="client_user/info/recommend" /}{/case}
                                {default /}默认情况{$pageInfo}
                            {/switch}
                        </div>

                    </div>
                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <!--<button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script type="text/javascript">
$(function(){
    /*ajax页面加载icheck，有该控件的页面才需要*/
    $(".select2").select2({language:"zh-CN"});
});
</script>
{/block}
