<th onclick="checkedAll(this)" data-status="1" width="7%" >选择(点击全选)</th>
<script>
    $(document).ready(function () {
        //全选删除
        checkedAll = function(e) {
            if($(e).attr('data-status') == 1){
                $(".table [type='checkbox']").prop("checked", 'checked');
                $(e).attr('data-status','2');
            }else{
                $(".table [type='checkbox']").prop("checked", false);
                $(e).attr('data-status','1');
            }
        };

        //全部删除按钮
        delAll = function(e) {
            var arr = '';
            var cheInfo = $(".table [type='checkbox']:checked");
            if(cheInfo.length <= 0){
                layui.use('layer', function(){
                    layer.alert('请先勾选要删除的数据');
                });
                return ;
            }
            $(cheInfo).each(function(index){
                arr += this.value + ',';//组装数组
            });
            $(e).attr('data-id', arr);
        };

    });
</script>