<div class="form-group">
    <label class="col-sm-2 control-label">[title]</label>
    <div class="col-sm-7">
        <input class="form-control" name="[name]" [readonly] value="{$info['[name]']|default=''}" placeholder="[title]"
        {if condition="substr('[name]',0,8)=='password'"} autocomplete="off" {/if}
        >
    </div>
</div>