<div class="form-group">
    <label class="col-sm-2 control-label">[title]</label>
    <div class="col-sm-7">
        <input name="[name]" type="radio" value="1" {if condition="isset($info['[name]']) && $info['[name]'] > 0"}checked{/if} />显示</label>
        <input name="[name]" type="radio" value="0" {if condition="isset($info['[name]']) && $info['[name]'] < 1"}checked{/if} />不显示</label>
    </div>
</div>

