<li class='{if condition="$s == 1"}active{/if}'>
    <a href="{:url(request()->action(),['s'=>'1'])}">森林</a>
</li>
<li class='{if condition="$s == 2"}active{/if}'>
    <a href="{:url(request()->action(),['s'=>'2'])}">物联</a>
</li>
<li class='{if condition="$s == 3"}active{/if}'>
    <a href="{:url(request()->action(),['s'=>'3'])}">泰慧</a>
</li>