<div class="form-group">
    <label class="col-sm-2 control-label">[title]</label>
    <div class="col-sm-7">
        <input name="[name]" type="checkbox" {if condition="!isset($info['[name]'])||$info['[name]']=='on'"}checked{/if} />
    </div>
</div>
<script type="application/javascript">
$(document).ready(function () {
    $("[name='[name]']").bootstrapSwitch({
        onText : "推荐",     // 设置ON文本
        offText : "不推荐",    // 设置OFF文本
        onColor : "success",// 设置ON文本颜色     (info/success/warning/danger/primary)
        offColor : "danger",  // 设置OFF文本颜色        (info/success/warning/danger/primary)
        size : "small",    // 设置控件大小,从小到大  (mini/small/normal/large)
        // 当开关状态改变时触发
        onSwitchChange : function(event, state) {
            /*
            //获取id，ajax修改状态
            var id=$(this).data('id');
            $.post('{:url("Member/changestatus")}',{'id':id},function (res) {
                var obj=JSON.parse(res);
                $.amaran({'message':obj.msg});
            });
            */
        }
    });
});
</script>
