<?php
   $id = '[id]' ? '[id]' : 'container';
?>
<div class="form-group">
    <label class="col-sm-2 control-label">[title]</label>
    <div class="col-sm-7">
        <script id="{$id}" name="[name]" type="text/plain">{$info['[name]']|default=''}</script>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        var ue_opt = {
            initialFrameHeight: 500
        };
        UE.delEditor('{$id}');
        var my_ue = UE.getEditor('{$id}', ue_opt);
    });
</script>