<div class="form-group">
    <label class="col-sm-2 control-label">[title]</label>
    <div class="col-sm-7">
        <textarea name="[name]" class="form-control" [readonly] style="width: 100%; height: 150px; z-index: 998; overflow: hidden;">{$info['[name]']|default=''}</textarea>
    </div>
</div>