{extend name="public/base" /}
{block name="title"}<title>{if condition="ACTION_NAME=='create'"}新增{else/}编辑{/if}</title>{/block}

{block name="pjax_container"}
<?php
    $titleTypeName = ACTION_NAME=='create'? '新增' : '编辑';
?>
<section class="content-header">
    <h1>{$titleTypeName}常见问题</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> {$titleTypeName}常见问题</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false" >
                <input type="hidden" name="id" value="{$info.id|default=0}" />
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab1" data-toggle="tab">常见问题详情</a>
                        </li>
                        <li class="pull-right"><a href="javascript:history.back(-1)" class="btn btn-sm" style="padding:10px 2px;"><i class="fa fa-list"></i> 返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            {include file="form/input" title="标题" name="title"/}
                            {include file="form/input" title="描述" name="desc"/}
                            {include file="form/textarea" title="内容" name="content" data="isset($info['content']) ? $info['content'] : ''"/}
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script type="application/javascript">
    $(document).ready(function () {
        /*ajax页面加载icheck，有该控件的页面才需要*/
        $(".select2").select2({language:"zh-CN"});
    })
</script>
{/block}
