{extend name="public/base" /}

{block name="title"}
<title>{if condition="isset($info)"}编辑{else /}新增{/if}</title>
{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>平台规则</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 平台规则</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="POST" action="/{$Think.MODULE_NAME}/{$Think.CONTROLLER_NAME}/{$Think.ACTION_NAME}" onsubmit="return false" >
                <div class="nav-tabs-custom">
                    <input type="hidden" name="id" value="{$info['id']|default=0}" />

                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            {include file="form/textarea" title="平台规则" name="rule_content"/}
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="btn-group pull-right">
                                <button type="submit" class="btn btn-info pull-right submits" data-loading-text="&lt;i class='fa fa-spinner fa-spin '&gt;&lt;/i&gt; 提交">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{/block}