{extend name="public/base" /}

{block name="title"}<title>列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>常见问题列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i>常见问题列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="pull-left">
                        {:authAction(CONTROLLER_NAME.'/create','create')}
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>标题</th>
                            <th>简短描述</th>
                            <th width="124">操作</th>
                        </tr>
                        {volist name="list" id="v"}
                            <tr>
                                <td>{$v["title"]}</td>
                                <td>{$v["desc"]}</td>
                                <td>
                                    {:authAction(CONTROLLER_NAME.'/edit','edit',['id'=>$v['id']])}
                                    {:authAction(CONTROLLER_NAME.'/delete','delete_one',['id'=>$v['id']])}
                                </td>
                            </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                </div>
            </div>
        </div>
    </div>
</section>
{/block}