<div class="box-body table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>订单类型</th>
            <th>地区</th>
            <th>订单状态</th>
            <th width="124">操作</th>
        </tr>
        {volist name="orderList" id="v"}
        <tr>
            <td>{$v.type_name}</td>
            <td>{$v["consult_p"]}、{$v["consult_c"]}、{$v["consult_a"]}</td>
            <td>{$v["status"]}</td>
            <td>
                {:authAction(url('Orders/see'),'see',["id"=>$v["id"]])}
            </td>
        </tr>
        {/volist}
    </table>
</div>
<div class="box-footer clearfix">
    {$orderList->render()}
</div>
<script>
    $(function(){

    })
</script>