<table class="table table-bordered table-hover">
    <tr>
        <th>姓名</th>
        <th>分类名称</th>
        <th>账号</th>
    </tr>
    {volist name="card" id="v"}
    <tr>
        <td>{$v["user_name"]}</td>
        <td>{$v["status"]==1?$v["account_name"]:'支付宝'}</td>
        <td>{$v["number"]}</td>
    </tr>
    {/volist}
</table>