<table class="table table-bordered table-hover">
    <tr>
        <th>类别</th>
        <th>金额</th>
        <th>时间</th>
    </tr>
    {volist name="consume" id="v"}
    <tr style="{if condition='$v.money > 0'} color:#ff0084 {/if}">
        <td>{$v["status"]}</td>
        <td>{$v["money"]}元</td>
        <td>{:date('Y-m-d H:i:d', $v["c_time"])}</td>
    </tr>
    {/volist}
</table>