<ul class="nav nav-tabs">
    <li class={if condition="input('t','user') == 'user'"}'active'{/if}>
    <a href="{:url('see_info',['id'=>$info.id,'act'=>'orderList','t'=>'user'])}">用户订单</a>
    </li>
    <li class={if condition="input('t') == 'law'"}'active'{/if}>
    <a href="{:url('see_info',['id'=>$info.id,'act'=>'orderList','t'=>'law'])}">律师订单</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active">
        <!--加载对应页面-->
        {switch :input('t','user') }
        {case value="user"}{include file="client_user/info/orderlist/user" /}{/case}
        {case value="law"}{include file="client_user/info/orderlist/law" /}{/case}
        {/switch}
    </div>
</div>