<div class="form-group">
    <label class="col-sm-2 control-label">手机号</label>
    <div class="col-sm-7">
        <input class="form-control"  disabled="disabled" value="{$own.mobile|default=''}" placeholder="手机号">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">头像</label>
    <div class="col-sm-7">
        <img onclick="alertImage(this)" src="{$own['avatar']|default=''}" width="40" height="40">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">余额</label>
    <div class="col-sm-7">
        <input class="form-control"  disabled="disabled" value="{$own.money|default=''}" placeholder="余额">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">用户状态</label>
    <div class="col-sm-7">
        <input class="form-control"  disabled="disabled" value="{$own.level|default=''}" placeholder="用户等级">
    </div>
</div>
<script>
    function alertImage(e){
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            maxWidth:700,
            maxHeight:700,
            shadeClose: true,
            skin: 'yourclass',
            content: '<img style="max-width: 1000px; max-height: 1000px" src="' + e.src + '" />'
        });
    }
</script>