<table class="table table-bordered table-hover">
    <tr>
        <th>类型</th>
        <th>名称</th>
        <th>注册\签约时间</th>
        <th>奖励金额</th>
    </tr>
    {volist name="recommend" id="v"}
    <tr>
        <td>{$v.status ? '律师' : '普通用户'}</td>
        <td>{$v.new_id.name}</td>
        <td>
            {if condition="$v.status == 0"}
            {:date('Y-m-d H:i', $v.user_time)}
            {else}
            {:date('Y-m-d H:i', $v.law_time)}
            {/if}
        </td>
        <td>{$v.get_money}</td>
    </tr>
    {/volist}
</table>