<table class="table table-bordered table-hover">
    <tr>
        <th>律师姓名</th>
        <th>头像</th>
        <th>专长</th>
        <th>地区</th>
        <th>所在律师事务所</th>
        <th>执照到期时间</th>
        <th width="124">操作</th>
    </tr>
    {volist name="signLaw" id="v"}
    <tr>
        <td>{$v["name"]}</td>
        <td>
            <a href="{$v.image}" target="_blank">
                <img src='{$v.image}'>
            </a>
        </td>
        <td>{:implode('|', (array)$v.speciality??[])}</td>
        <td>{$v["consult_p"]}、{$v["consult_c"]}、{$v["consult_a"]}</td>
        <td>{$v["office"]}</td>
        <td>{:date('Y-m-d', $v["end_time"])}</td>
        <td>
            {:authAction(CONTROLLER_NAME.'/see','see',["id"=>$v["id"]])}
        </td>
    </tr>
    {/volist}
</table>